.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: maroon;
    color: white;

}

#game{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#score{
    display: flex;
}
